<!DOCTYPE html>
<html>
<head>
	<title>leikarar</title>
	<link rel="stylesheet" type="text/css" href="../static/semantic.css">
	<link rel="shortcut icon" href="../static/images/movie.ico"/>
</head>
<body>
	<div class="ui primary menu">
  		<a class="item">
    		Reservoir Dogs
  		</a>
  		<a class="item" href="#leikarar">
    		<i class="user icon"></i> Leikarar
  		</a>
  		<a class="item" href="#hafdusamband">
    		<i class="phone icon"></i> Hafðu samband
  		</a>
  	<div class="right menu">
    	<a class="ui item">
      		Login
    	</a>
  	</div>
	</div>

	<div class="ui three column divided grid">
		<div class="row">
			<div class="column">
				<div class="ui segment">
					<h2 class="ui header">
				  	<img src="../static/images/quentintarantino.jpg" class="ui circular image">
				  		Patrick
					</h2>
					<p>Etiam accumsan nisl nec elit tristique, ut efficitur tellus maximus. Aenean sodales urna est, vitae finibus magna laoreet sit amet. In blandit sit amet urna ac commodo. Morbi vel rutrum dolor, nec suscipit ex. Aenean convallis, nulla a pretium semper, velit libero molestie velit, vel finibus ligula sem sit amet diam. Duis rhoncus commodo tortor ut eleifend. Etiam id tincidunt metus, scelerisque pellentesque nulla.</p>
				</div>
			</div>
			<div class="column">
				<div class="ui segment">
					<h2 class="ui header">
				  	<img src="../static/images/madsen.jpg" class="ui circular image">
				  		Patrick
					</h2>
					<p>Etiam accumsan nisl nec elit tristique, ut efficitur tellus maximus. Aenean sodales urna est, vitae finibus magna laoreet sit amet. In blandit sit amet urna ac commodo. Morbi vel rutrum dolor, nec suscipit ex. Aenean convallis, nulla a pretium semper, velit libero molestie velit, vel finibus ligula sem sit amet diam. Duis rhoncus commodo tortor ut eleifend. Etiam id tincidunt metus, scelerisque pellentesque nulla.</p>
				</div>
			</div>
			<div class="column">
				<div class="ui segment">
					<h2 class="ui header">
				  	<img src="../static/images/quentintarantino.jpg" class="ui circular image">
				  		Patrick
					</h2>
					<p>Etiam accumsan nisl nec elit tristique, ut efficitur tellus maximus. Aenean sodales urna est, vitae finibus magna laoreet sit amet. In blandit sit amet urna ac commodo. Morbi vel rutrum dolor, nec suscipit ex. Aenean convallis, nulla a pretium semper, velit libero molestie velit, vel finibus ligula sem sit amet diam. Duis rhoncus commodo tortor ut eleifend. Etiam id tincidunt metus, scelerisque pellentesque nulla.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<div class="ui segment">
					<h2 class="ui header">
				  	<img src="../static/images/quentintarantino.jpg" class="ui circular image">
				  		Patrick
					</h2>
					<p>Etiam accumsan nisl nec elit tristique, ut efficitur tellus maximus. Aenean sodales urna est, vitae finibus magna laoreet sit amet. In blandit sit amet urna ac commodo. Morbi vel rutrum dolor, nec suscipit ex. Aenean convallis, nulla a pretium semper, velit libero molestie velit, vel finibus ligula sem sit amet diam. Duis rhoncus commodo tortor ut eleifend. Etiam id tincidunt metus, scelerisque pellentesque nulla.</p>
				</div>
			</div>
			<div class="column">
				<div class="ui segment">
					<h2 class="ui header">
				  	<img src="../static/images/quentintarantino.jpg" class="ui circular image">
				  		Patrick
					</h2>
					<p>Etiam accumsan nisl nec elit tristique, ut efficitur tellus maximus. Aenean sodales urna est, vitae finibus magna laoreet sit amet. In blandit sit amet urna ac commodo. Morbi vel rutrum dolor, nec suscipit ex. Aenean convallis, nulla a pretium semper, velit libero molestie velit, vel finibus ligula sem sit amet diam. Duis rhoncus commodo tortor ut eleifend. Etiam id tincidunt metus, scelerisque pellentesque nulla.</p>
				</div>
			</div>
			<div class="column">
				<div class="ui segment">
					<h2 class="ui header">
				  	<img src="../static/images/quentintarantino.jpg" class="ui circular image">
				  		Patrick
					</h2>
					<p>Etiam accumsan nisl nec elit tristique, ut efficitur tellus maximus. Aenean sodales urna est, vitae finibus magna laoreet sit amet. In blandit sit amet urna ac commodo. Morbi vel rutrum dolor, nec suscipit ex. Aenean convallis, nulla a pretium semper, velit libero molestie velit, vel finibus ligula sem sit amet diam. Duis rhoncus commodo tortor ut eleifend. Etiam id tincidunt metus, scelerisque pellentesque nulla.</p>
				</div>
			</div>
		</div>

	</div>






	<script src="../static/semantic.min.js"></script>
	<script src="../static/jquery-3.3.1.min.js"></script>
	<script type="text/javascript">
	</script>
</body>
</html>