<!DOCTYPE html>
<html>
<head>
	<title>Reservoir Dogs</title>
	<link rel="stylesheet" type="text/css" href="../static/semantic.css">
	<link rel="shortcut icon" href="../static/images/movie.ico"/>
  <script src="../static/semantic.min.css"></script>
</head>
<body>
	<div class="ui primary menu">
  		<a class="item">
    		Reservoir Dogs
  		</a>
  		<a class="item" href="#leikarar">
    		<i class="user icon"></i> Leikarar
  		</a>
  		<a class="item" href="#hafdusamband">
    		<i class="phone icon"></i> Hafðu samband.
  		</a>
  	<div class="right menu">
    	<a class="ui item">
      		Login
    	</a>
  	</div>
	</div>